.formBox {
  width: 400px;
  height: 400px;
  box-shadow: 1px 1px 2px 2px black;
  margin: 100px auto;
  border-radius: 8px;
  padding: 50px;
  direction: rtl;
  background-color: #E8A251;
}

.formBox input {
  width: 100%;
  border-radius: 3px;
  margin-top: 5px;
}

.formBox .myinputes {
  margin-bottom: 50px;
}

.formBox .myButton {
  text-align: center;
  width: 100%;
}

.formBox .myButton button {
  width: 120px;
  height: 30px;
  background: none;
  background-color: aqua;
  border-radius: 5px;
}
